USE [master]
GO
/****** Object:  Database [DB_Rostelecom]    Script Date: 30.01.2023 18:01:02 ******/
CREATE DATABASE [DB_Rostelecom]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Rostelecom', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_Rostelecom.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Rostelecom_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_Rostelecom_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Rostelecom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Rostelecom]
GO
/****** Object:  Table [dbo].[AllUsers]    Script Date: 30.01.2023 18:01:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllUsers](
	[UserId] [int] IDENTITY(100000,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Position] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_AllUsers] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 30.01.2023 18:01:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[IdClient] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](25) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Phone] [bigint] NULL,
	[Email] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[IdClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentList]    Script Date: 30.01.2023 18:01:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentList](
	[IdEquipment] [int] IDENTITY(301,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [money] NULL,
 CONSTRAINT [PK_EquipmentList] PRIMARY KEY CLUSTERED 
(
	[IdEquipment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InstalledEquipment]    Script Date: 30.01.2023 18:01:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstalledEquipment](
	[IdCE] [int] IDENTITY(1000,1) NOT NULL,
	[IdClient] [int] NOT NULL,
	[IdEquipment] [int] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_InstalledEquipment] PRIMARY KEY CLUSTERED 
(
	[IdCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InstalledServices]    Script Date: 30.01.2023 18:01:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstalledServices](
	[IdES] [int] IDENTITY(201,1) NOT NULL,
	[IdClient] [int] NOT NULL,
	[IdService] [int] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_InstalledServices] PRIMARY KEY CLUSTERED 
(
	[IdES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServicesList]    Script Date: 30.01.2023 18:01:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicesList](
	[IdService] [int] IDENTITY(201,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [money] NULL,
 CONSTRAINT [PK_ServicesList] PRIMARY KEY CLUSTERED 
(
	[IdService] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InstalledEquipment]  WITH CHECK ADD  CONSTRAINT [FK_InstalledEquipment_Clients] FOREIGN KEY([IdClient])
REFERENCES [dbo].[Clients] ([IdClient])
GO
ALTER TABLE [dbo].[InstalledEquipment] CHECK CONSTRAINT [FK_InstalledEquipment_Clients]
GO
ALTER TABLE [dbo].[InstalledEquipment]  WITH CHECK ADD  CONSTRAINT [FK_InstalledEquipment_EquipmentList] FOREIGN KEY([IdEquipment])
REFERENCES [dbo].[EquipmentList] ([IdEquipment])
GO
ALTER TABLE [dbo].[InstalledEquipment] CHECK CONSTRAINT [FK_InstalledEquipment_EquipmentList]
GO
ALTER TABLE [dbo].[InstalledServices]  WITH CHECK ADD  CONSTRAINT [FK_InstalledServices_Clients] FOREIGN KEY([IdClient])
REFERENCES [dbo].[Clients] ([IdClient])
GO
ALTER TABLE [dbo].[InstalledServices] CHECK CONSTRAINT [FK_InstalledServices_Clients]
GO
ALTER TABLE [dbo].[InstalledServices]  WITH CHECK ADD  CONSTRAINT [FK_InstalledServices_ServicesList] FOREIGN KEY([IdService])
REFERENCES [dbo].[ServicesList] ([IdService])
GO
ALTER TABLE [dbo].[InstalledServices] CHECK CONSTRAINT [FK_InstalledServices_ServicesList]
GO
USE [master]
GO
